/* body */
*, *:after, *:before {
    box-sizing: border-box;
}
body {
    color: cornsilk;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    background: radial-gradient(ellipse at top, #64e0e6, transparent);
}
/* reason for this container: */
#allContainer {
    max-width: 1533px;
    margin: auto;
}
a {
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: seashell;
    cursor: pointer;
}
.up {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 25px;
    margin-top: 15px;
}
/* header */
header {
    background:url("imgs/plachetka-12\ d.jpg ") top center no-repeat;
    background-size: 76%;
    min-height: 100vh;
    margin-bottom: 15px;
}
header span {
    font-size: small;
}
nav, #logo, #mainHead, #menuCol, #upperNav, .mainHeadContainer {
    display: flex;
}
.menu:hover {
    background: rgba(95, 158, 160, 0.664);
}
#upperNav {
    width: 100%;
    justify-content: flex-end;
}
.navContainer {
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;

}
nav {
    width: 100%;
    background: rgba(184, 135, 11, 0.507);
    flex-direction: column;
}
#logo{
    justify-content:flex-start;
    align-items: center;
    margin-left: 15px;
    width: 20%;
}
#logo span{
    margin-left: 5px;
    background: cadetblue;
    padding: 7px 11px;
    margin: 0 3px 0 0;
}
#logo i {
    background: chocolate;
    padding: 16px;
    color: #fff;
}
#logo span:hover {
    background: rgba(0, 139, 139, 0.39);
}
.mainHeadContainer {
   width: 60%;
}
#mainHead {
    justify-content:center;
    align-items: center;
    background: rgba(71, 61, 139, 0.484);
    padding: 0 10px;
    height:45px;
    border: chocolate 2px solid;
    background: rgba(95, 158, 160, 0.65);
    color: seashell;
    margin: auto;
}
#mainHead h1 {
    font-weight: 200;
    font-size:32px;
}
#hamburgerMenuSwitch {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.hamburgerContainer {
    display: none;
}
.A {
    margin-top: 3px;
}
.menu a:hover {
    background: rgba(95, 158, 160, 0.464);
}
#menuCol {
    width: 40%;
    text-align:right;
    margin: 3px 6px 3px 20px;
    padding-right: 3px;
    font-size: small;
    flex-direction: column;
}
.menu {
    margin: 0 6px 3px 0;
    padding: 3px 6px;
    font-size: small;
    background: cadetblue;
}
.hamburger, .logoAlt, #menuRow {
    display: none;
}
.rowCol {
    flex-direction: row;
    width: 40%;
}
@media only screen and (max-width:1450px ){
.header {
    min-height: 100vh;
}
}
@media only screen and (max-width:1300px ){
.mainHeadContainer {
    justify-content: center;
    align-items: center;
}
#mainHead {
    height: 30px;
    margin: 5px 0 0 2px;
}
#mainHead h1 {
    font-size:22px;
}
.hamburgerContainer {
    display: flex;
    justify-content: flex-end;
}
#menuCol {
    display: none;
}
#hamburger {
    display: block;
    border: 0;
    background-color: rgba(255, 255, 255, 0.653);
    color: white;
    font-size: 27px;
    padding: 8px 8px 5px 8px;
    margin: 20px 35% 20px 20px ;
}
#menuRow.show {
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-right: 3px;
    width: 50%;
    text-align:center;
    margin: 0 6px 3px 0;
    padding-right: 3px;
    font-size: small;
    width: auto;
}
.menu {
    width: 60px;
    margin-top: 2px;
}
.logoAlt.show {
    margin-right: 6px;
}
}
@media only screen and (max-width: 670px) {
.mainHeadContainer {
    justify-content: flex-end;
    width: 80%;
}
#mainHead h1 {
    font-size:18px;
}
#hamburger {
    font-size: 17px;
    padding: 5px 5px 3px 4px;
    margin: 10px 35% 10px 12px;
}
 #logo{
    display: none;
}
#menuCol {
    flex-direction: row;
}
.logoAlt.show {
    display: block;
    margin-right: 6px;
}
.logoAlt span{
    background: cadetblue;
    color: cornsilk;
    padding: 3px 6px;
    margin:  3px 0 2px 5px;
    font-size: small;
    cursor: pointer;
}
.logoAlt i {
    font-size: 9px;
    padding: 8px;
    margin-top: 2px;
    background: chocolate;
}
#hamburgerMenuSwitch {
    justify-content: end;
    align-items: center;
}
.hamburgerContainer {
    margin-right: 10%;
}
#uppernav {
    justify-content: space-between;
}
#lowerNav {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}
#mainHead {
    margin: 3px 0 0 3px;
    width: 85%;
}
}
@media only screen and (max-width: 420px){
.mainHeadContainer {
   justify-content: flex-end;
   width: 85%;
}
#mainHead {
    height: 30px;
    margin: 5px 0 0 2px;
    width: 100%;
}
#mainHead h1 {
    font-size:17px;
}
#hamburgerMenuSwitch {
    width: 15%;
}
.hamburger {
    margin-top: 5px;
}
.menu {
    width:55px;
}
}
/* header responsive change */

#meaAndMiddle,#lowerHeaderAndListBox {
display: flex;
}
#meaCulpaContainer, #headerMiddle, #lowerHeader, #listbox {
width: 50%;    
}
/* end */
.hero{
    height: 27px;
}
#whenshrink {
    display: flex;
    flex-direction: column;
}
.raps {
    background: rgba(95, 158, 160, 0.65);
    font-family: 'Play', sans-serif;
    color: #fff;
    padding: 10px;
    border: 0.5px solid rgba(36, 162, 176, 0.489);
    margin-right: 20px;
    font-size: 16px;
}

#rapOne {
    width: 300px;
    margin-left: 40%;
}

#rapTwo {
    margin: 32% 0 20px 100px;
    width: 300px;
    height: 120px;
    z-index: 2;
}

#rapThree {
    margin: 15px 0;
    }

#rapFour {
      min-width: 200px;
      margin-bottom: 20px;
    }

#rapThree,#rapFour {
    min-width: 250px;
    margin-bottom: 25px;
}

.raps:hover {
    cursor: pointer;
}
.raps p {
    margin: 0;
}
#switchLangOne {
    display: block;
}

#meaculpa {
    margin:   20% 30% 0 40%;
    font-size: calc(1rem + 2vw);
    font-family: 'Mea Culpa', cursive;
    color: rgb(10, 7, 7);
    background-color: rgba(255, 245, 238, 0.218);
}
/* bottom part of header */
#listbox {
    display: flex;
    justify-content: end;
    padding: 30px 80px 0 0;
    z-index: 4;
}
.headlisttwo {
    list-style-image: none;
    list-style-type: square;
}
.headlisttwo ul {
    list-style-image: url(imgs/díra-g.gif);
}
.headlisttwo ul li {
    padding-bottom: 5px;
 }
.headlistthree ul {
     font-size: 16px;
     font-family: 'Play', sans-serif;
     color: #fff;
     margin-top: 18px;
     padding: 0;
     width: 150px;
 }
 .headlistthree ul li {
    background: rgba(184, 135, 11, 0.507);
    border: darkgoldenrod 1px solid;
    margin: 6px 10px;
    padding-left: 5px;
    height: 25px;
    display: block;
    list-style-type: none;
 }
 .galleryHead {
    margin:5% auto 3%;
    width: 50%;
    font-size: 30px;
    font-family: 'Play', sans-serif;
    text-align: center;
    background: rgba(202, 55, 29, 0.436);
    color: seashell;
}
@media only screen and (max-width: 1450px){
#meaculpa {
    padding-left: 0;
}
}
@media only screen and (max-width: 1230px){
#rapTwo {
    margin: 26% 0 20px 100px;
    width: 300px;
    height: 120px;
    z-index: 2;
    }
    
}
@media only screen and (max-width: 1065px){
#meaAndMiddle {
    flex-direction: column;
    }
/* #meaCulpaContainer, #headerMiddle{
width: 100%;    
} */

#rapOne {
    margin: 0 0 0 20px;
}
#lowerHeaderAndListBox {
    flex-direction: row-reverse;
    justify-content: start;
}
      
header {
    background-size: 90%;
    margin-bottom: 15px;
}

#meaculpa {
    /* margin: 55px 550px 20px 10%; */
    margin: 55px 200px 20px 10%;
}

#rapTwo {
    margin: 20px 0 0 20px;
    width: 300px;
}
 .headlisttwo ul {
    list-style-image: url(imgs/díra-g_s.gif);
}
.headlistthree ul li {
    margin: 6px 10px;
    padding-left: 5px;
    height: 20px;
    line-height: 22px;
    width: 120px;
    font-size: 14px;
}
#listbox {
    margin: 0;
    padding: 0;
    width: auto;    
}
#lowerHeader {
    width: auto;
}
.headlisttwo {
    margin-left: 30px;
}
.galleryHead {
    margin-top: 130px;
}
}
@media only screen and (max-width: 900px){
#rapOne {
    height: 100px;    
}
#rapTwo, #rapOne {
        font-size: 12px;
        margin-bottom: 10px;
        width: 270px;
    }
#rapTwo {
        height: 80px;
        margin-top: 0;
    }
#meaAndMiddle {
    margin: 65px 0 70px;
}

}
@media only screen and (max-width: 880px){
#listbox {
    justify-content:start;
    margin-top: -30px;
}
#meaAndMiddle {
    margin: 65px 0 30px;
}
#lowerHeaderAndListBox {
    margin-top: 30px;
    }
#meaculpa {
    margin: 5px 50px 20px 10%;
}

}
@media only screen and (max-width: 790px){
.galleryHead {
    font-size: 20px;
}
#meaAndMiddle {
    margin: 65px 0 100px;
}

}
@media only screen and (max-width: 700px){
    #meaAndMiddle {
    margin: 10% 0 0;
    flex-direction: row;
            }
            #lowerHeaderAndListBox {
               margin-top: 0;
            }
            
}

@media only screen and (max-width: 650px){
header {
    background-size: 95%;
}
.headlisttwo ul li {
    padding-bottom: 5px;
}
#meaAndMiddle {
    margin: 45px 0 0;
            }
            #rapOne {
                margin-left: 0;
            }
}
@media only screen and (max-width: 580px){
#meaAndMiddle {
    flex-direction: column;
    margin: 40px 0 18%;
}
#rapOne {
    margin-left: 20px;
}

}


@media only screen and (max-width: 560px){
#meaculpa {
    margin-bottom: 3%;
}
   #rapTwo {
    margin-left: 0;
   }  
   .headlisttwo {
    margin-left: 10px;
   }    
}

@media only screen and (max-width: 490px){
    
#lowerHeaderAndListBox {
    flex-direction: column-reverse;
}

#lowerHeaderAndListBox {
    margin-top: 0px;
}
#listbox {
    padding-top: 10px;
}
#rapOne {
    margin-bottom: 20px;
}
#rapTwo {
    margin-left: 20px;
   }  
          
}
@media only screen and (max-width: 440px){
    #meaAndMiddle {
        margin-top: 0px;
}
.galleryHead {
    margin-top: 140px;
}  
#listbox {
   margin-bottom: 50px;
}

}
@media only screen and (max-width: 370px){
    #meaAndMiddle {
        margin-top: 60px;
        margin-bottom: 0px;
}
#meaculpa {
    margin-bottom: 50%;
    margin-right: 0;
}
.galleryHead {
    margin-top: 140px;
}  
#listbox {
    margin-bottom: 110px;
 }
 
}

@media only screen and (max-width: 330px){
     
#lowerHeaderAndListBox {
    margin-bottom: 50px;
}
#listbox {
    margin-bottom: 90px;
 }
 
}

/* gallery */
.small {
    color: #000;
    font-size: 10px;

}
#gallery {
    height: 100vh;
    background-size: cover;
    display: flex;
}
.gallery {
    background-image:url("imgs/LištaC.jpg");
    height: 100vh;
    background-size: cover;
}

.sideGalleryL{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    padding: 0 0 20px 10px;
}
.sideGalleryL img {
    width: 90%;
    object-fit: contain;
  }

#galleryWholeRight {
    width: 75%;
    display: block;
position: relative;
}

.upperGallery {
    display: flex;
    align-items:baseline;
    padding: 10px;
    position: relative;
}

.upperGallery img{
    width: 95%;
  }

#galleryMain {
    display: flex;
    height: 400px;
}

#displayContainer {
    margin: 0 10px;
    width: 100%;

  }

#display-el {
    color: seashell;
    font-size: 45px;
    height: 595px;
    width: 100%;
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background-image:url("../imgs/LištaC.jpg") ; */

}

#message-el {
    position: absolute;
    padding: 0 15px;
    margin:5px;
    background:rgba(156, 155, 155, 0.247);


}
.sideGalleryR {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.sideGalleryR img {
    width: 90%;
    object-fit: contain;
}

.sideGalleryR .picContainer {
    margin-bottom: 30px;
}

.picContainer {
    width: 25%;
    height: 10%;
    margin-bottom: 10px;
}
.chapterContainer {
position: relative;
}

.chapterContainer, .upContainer{
    width: 25%;
}

.number {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 29px;
    background-color: rgba(255, 245, 238, 0.425);
}
.el1 {
    bottom: -5px;
    left: 5px;
}
.el2 {
    top: 0;
    left: 15px;
}
.el3 {
    top: -7px;
    left: 3px;
}

.black {
    color: #000;
    background:rgba(255, 245, 238, 0.526) ;
}
img {
    /* object-fit: contain; */
    cursor: pointer;
    margin: 4px;
}
.w1, .w2, .w3, .a, .picContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .w1 {
    max-width: 75%;
  }

  .w2 {
    max-width: 80%;
  }

  .w3 {
    max-width: 85%px;
  }

#displayScreen {
    display: none;
}
.picFrame {
    position: relative;
}
.imgComment {
    position: absolute;
    top: 50px;
    left: 30px;
}
@media only screen and (max-width: 1300px){
#gallery, .gallery{
    display: none;
}
/* gallery when responsive */
#displayScreen {
    display: flex;
    justify-content: space-around;
    background:url('imgs/LištaC.jpg');
    background-size: cover;
    padding: 20px 0;
    position: relative;
    min-height: 100vh;
}
#leftContainer {
    width: 75%;
    position: relative;
}
#imgFrame img{
    max-height: 90vh;
    width: 100%;
    object-fit: cover;
}
#buttonContainer {
    display: flex;
    justify-content: space-between;
    color: seashell;
}
#buttonContainer i {
  font-size: x-small;
}
#Bprevious, #Bnext {
    width: 4%;
    background: rgba(95, 158, 160, 0.65);
    border:1px solid #ddd;
    color: seashell;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#textAltDisplay {
    font-size: 2vw;
    line-height: 35px;
    text-align: center;
}
#rapContainer {
    width: 25%;
}
#rapSix, #rapSeven {
    width: 70%;
    height:auto;
    margin-left: 20px;
    margin-top: 30px;
}
.buttConCase-el, #buttonContainer{
    height: auto;
    width: 70%;
    position: absolute;
    margin-left: 15%;
    bottom: 10%;
    background: rgba(95, 158, 160, 0.65);
}
}
@media only screen and (max-width: 1150px){
#displayScreen {
    display: block;
    padding-bottom: 20px;
}
#leftContainer {
    width: 90%;
    margin: 20px;
}
#rapContainer {
    width: 90%;
    display: flex;
}
#rapThree, #rapFour {
    width: 45%;
    margin-bottom: 20vh;
    height: 120px;
}
#textAltDisplay {
    font-size: 3vw;
}

}
@media only screen and (max-width: 840px){
    #displayScreen {
        padding-bottom: 20px;
    }
    #rapContainer {
    display: block;
}
    #rapThree, #rapFour {
    width: 85%;
}
}
@media only screen and (max-width: 540px){
#rapThree, #rapFour {
    font-size: 12px;
    height: 15vh;
}
.buttConCase-el, #buttonContainer{
    width: 80%;
}

#textAltDisplay {
    font-size: 4vw;
}
}

/* section info*/

#info {
background: #009999;
display: flex;
position: relative;
min-height: 100vh;
}
/* table */
#chart {
    padding: 0 20px 0 0;
    color: seashell;
}
#chart h2 {
    text-align: center;
}
table{
    width: 650px;
    text-align: center;
    margin:0 25px 30px;
    border-collapse: collapse;
}
th{
    background: darkseagreen;
}
td, th{
    padding: 3px 3px;
    border:2px solid #009999;
}
.formrowcolor{
    background: rgba(0, 206, 209, 0.719);
}
#workhours {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
/* text */
.text {
    background: rgba(255, 255, 255, 0.574);
    margin: 10px 30px 30px 30px;
    padding: 20px;
    color: seashell;
    font-size: 20px;
}
/* #rapFive {
    margin: 10px 30px 30px 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.384);
    color: #fff;
} */
/* map */
#map {
    padding: 30px;
}
#mapAlt {
    display: none;
     }
/* contact */
#contact {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 320px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
@media only screen and (max-width: 1400px){
    #info {
    flex-direction: column-reverse;
    padding-bottom: 20px;
}
.vertical {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
#map {
    margin: auto;
}
.text {
    width: 55vw;
    margin:auto;
}
#chart h2{
    margin:30px auto 5px;
}
table {
    margin:  10px auto 30px;
    width: 100%;
}
#countdown {
    margin:  10px auto;
}
#contact {
    margin:30px auto;
}

}
@media only screen and (max-width: 1200px){
    .text {
        width: 65vw;
    }
     
}
@media only screen and (max-width: 730px){
.vertical {
    width: 90%;
}
#countdown {
    width: 90%;
    height: auto;
    padding: 5px;
}
#contact img {
width: 90vw;
    }
#contact h2 {
font-size: 16px;
    }
    
#map {
   display: none;
    }
#mapAlt {
   margin: 2%;
   display: flex;
   justify-content: center;
}

}

@media only screen and (max-width: 440px){
#contact h2 {
    margin: 0 40px;
    text-align: center;
    font-size: 14px;
}

#streight{
    display: none;
}
#break {
    display: block;
    font-size: 18px;
}
#chart {
    font-size: smaller;
}
}
    /*footer*/

footer{
    background: #48f21d96;
    position: relative;
    height: 100vh;
}
#noha {
    display: flex;
    font-size: 10vw;
    letter-spacing: 12px;
    line-height: 220px;
    color: rgb(13, 128, 122);
    justify-content: center;
    text-align: center;
    padding-top: 200px;
}
.seclistone {
    display: flex;
    align-items:center;
    padding: 30px 125px;
}
#construction, #carrotContainer {
    width: 100%;
}
#construction {
    display: flex;
    font-size: 28px;
    justify-content: end;
}
#construction a:hover {
color: #009999;
font-size: 32px;
}
#carrotContainer {
    display: flex;
}
#name {
    display: flex;
    justify-content: end;
}
#myName {
    display: flex;
    font-size: 22px;
    color: rgb(97, 95, 95);
    margin-left: 6px;
    align-items: center;
}
#myName:hover {
    color: rgb(212, 56, 8);
}
#name i {
    background: chocolate;
    padding: 16px;
    color: #fff;
}
#blueArrow {
    color: #009999;
}
@media only screen and (max-width: 1410px){
#noha {
    line-height: 150px;
}
.seclistone {
    flex-direction: column;
    padding-left: 12%;
}
#construction {
    justify-content: start;
}

}

@media only screen and (max-width: 1030px){
#noha {
    line-height: 140px;
}

}
@media only screen and (max-width: 830px){
#noha {
    line-height: 100px;
    font-size: 8vw;
    padding-top: 230px;
}
.seclistone {
    padding-left: 13%;
}
    
}
@media only screen and (max-width: 550px) {
    #construction {
    font-size: 5vw;
   }
   #construction a:hover {
    font-size: 6vw;
    }

   #name span{
    line-height: 20px;
    font-size: 18px;
}
#noha {
    padding: 230px 100px 0;
}

}